<strong>Olá {{ deliveryman }}</strong>
<p>Houve um cancelamento de encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Encomenda número: </strong> {{ deliverie_id }} <br />
  <strong>Na data/hora: </strong> {{ date }} <br />
  <br />
</p>
